nav {
    text-transform: uppercase;
    background: #fefefe;
    color: #262626;
    padding: 1em;
    font-weight: bold;
}

nav a,
.active {
    text-decoration: none;
    color: #212121;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
}

.logo {
    display: inline-block;
    float: left;
    font-family: 'UnifrakturCook', cursive;
    position: relative;
}

.logo img {
    vertical-align: middle;
}

.menu-horizontal {
    display: inline-block;
    float: inherit;
    padding-left: 2em;
    position: absolute;
}


.menu-horizontal li {
    display: inline;
    text-align: center;
    vertical-align: middle;
    padding-right: 2em;
    position: relative;
}


/*Я знаю, что тут лучше как-то иначе выбрать*/

.menu-horizontal li:nth-child(-n+5):after {
    content: "/";
    position:relative;
    left: 1.5em;
    color: #c4c4c4;
    font-size: 0.8em;
}

.active {
    color: #cacaca;
}

.social-icons {
    font-family: 'FontAwesome', serif;
    display: inline-block;
    float: right;
    position: relative;
}

