.top-menu {
    background: #3498db;
    position: relative;
}

.menu li,
.logotext,
.searchtext {
    margin-top: 0.78125em;
    margin-bottom: 0.78125em;
    padding: 1.171875em;
}

.menu li a,
.logo,
.logotext a,
.active {
    text-decoration: none;
    display: block;
}

.logo,
.logotext a {
    text-shadow: 3px 1px 17px rgba(52, 73, 94, 0.96);
}

.menu-horizontal,
.logoholder,
.searcholder {
    display: table;
    width: 100%;
    padding-left: 0;
}

.menu-horizontal li,
.logotext,
.searchtext {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.menu ul {
    display: none;
    background: red;
    position: absolute;
    list-style-type: none;
}

.menu ul li {
    display: block;
    background: black;
}

.menu ul li:nth-child(2n) {
    background: #3498db;
}

.menu li:hover ul{
    display: block;
}



.top-menu a,
.logo,
.logotext a,
.active {
    text-transform: uppercase;
    font-family: 'Ubuntu', Arial, sans-serif;
    color: #ecf0f1;
    font-size: 1.5625em;
}

.top-menu a,
.logo,
.logotext a {
    color: #ecf0f1;
}

.active {
    color: #95a5a6;
}

.top-menu a:hover {
    color: #bdc3c7;
}

.top-menu a:active {
    color: #95a5a6;
}

.search {
    border: 0.117708333em solid #95a5a6;
    border-radius: 0.5em;
    text-align: left;
    font-family: 'Ubuntu', Arial, sans-serif;
    color: #ecf0f1;
    height: 1.2m;
    width: 90%;
    padding: 0.090625em;
}







