.modal-container {
    position: fixed;
    background-color: #e74c3c;
    border: 1px solid black;
    left: 50%;
    width: 70%;
    max-width: 30em;
    padding: 2em;
    border-radius: 0.5em;
    -webkit-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
    -webkit-transition: -webkit-transform 200ms linear;
    transition: transform 200ms linear;
}

.modal:target .modal-containter {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.modal:before {
    display: none;
    content: '';
    position: fixed;
    background-color: rgba(41, 128, 185, 0.68);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}



.modal:target:before {
    display: block;
}

#modal-close {}