@import url(//necolas.github.io/normalize.css/3.0.2/normalize.css);
@import url(reset.css);
@import url(grid.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600|Ubuntu&subset=latin,cyrillic,cyrillic-ext,latin-ext);
@import url(brief.css);

body {
    font-family: 'Ubuntu', Arial, sans-serif;
    background: #ecf0f1;
    color: #2c3e50
}

h1, h2 {
    font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    font-size: xx-large;
}

h2 {
    color: #8e44ad;
    text-align: center;
    font-size: x-large;
    padding: 10px;
    line-height: 130%;
}

p {
    line-height: 105%;
    text-align: justify;
    padding: 10px;
}

img {
    width: 100%;
}

nav ul{
    display: table;
    background: #3498db;
    text-align: center;
    padding-left: 0;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    text-transform: uppercase;
}

nav a:hover {
    color: #bdc3c7;
}

nav a:active {
    color: #95a5a6;
}

nav li {
    display: table-cell;
    padding: 15px;
}

.header {
    background: url(../img/review.jpeg) no-repeat;
    height: 250px;
    padding-top: 50px;
    padding-left: 50px;
}

.brief {
    background: url(../img/vip.jpeg) no-repeat;
}

.header h1,
.header p{
    display: table-cell;
    padding: 25px;
    background: rgba(52, 152, 219, 0.78);
    color: #ecf0f1;
    text-indent: 0;
}

.content {
    padding: 40px;
}


.footer {
    background: #2c3e50;
    color: #ecf0f1;
    height: 55px;
    padding: 20px 20px;
}

.footer p {
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: #ecf0f1;
    text-transform: lowercase;
}

.footer a:hover {
    text-decoration: none;
    color: #fff;
}