@import url(//necolas.github.io/normalize.css/3.0.2/normalize.css);
@import url(reset.css);
@import url(modal.css);
@import url(grid.css);
@import url(//fonts.googleapis.com/css?family=Exo+2:400,500,700|Comfortaa:400,700,300|Ubuntu:400,500,700&subset=latin,cyrillic);
@import url(brief.css);
@import url(menu.css);
@import url(header.css);
@import url(footer.css);

.wrapper {
    min-width: 200px;
    max-width: 2000px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: #ffffff;
    color: #333352;
}

h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    color: #ff4d00;
    text-align: left;
    font-size: 2em;
    padding: 0.625em 0;
    line-height: 130%;
}

p {
    line-height: 105%;
    text-align: justify;
    padding: 0.625em 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

img {
    width: 100%;
}

.content {
    padding: 40px;
}
