@import url(//necolas.github.io/normalize.css/3.0.2/normalize.css);
@import url(reset.css);
@import url(grid.css);
@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700|Ubuntu:400,500,700&subset=latin,cyrillic);
@import url(brief.css);
@import url(menu.css);
@import url(modal.css);

.wrapper {
    min-width: 200px;
    max-width: 2000px;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 1em;
}

h1 {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'Roboto', Arial, sans-serif;
    color: #8e44ad;
    text-align: center;
    font-size: 2em;
    padding: 0.625em;
    line-height: 130%;
}

p {
    line-height: 105%;
    text-align: justify;
    padding: 0.625em;
}

img {
    width: 100%;
}

.header {
    background: url(../img/review.jpeg) no-repeat;
    height: 250px;
    padding-top: 50px;
    padding-left: 50px;
    position: relative;
    text-align: center;
    vertical-align: right;
}

.brief {
    background: url(../img/vip.jpeg) no-repeat;
}

.header h1,
.header p{
    display: inline-block;
    margin-bottom: 20px;
    background: rgba(52, 152, 219, 0.78);
    color: #ecf0f1;
    text-indent: 0;
    padding: 25px;
}

.content {
    padding: 40px;
}


.footer {
    background: #2c3e50;
    color: #ecf0f1;
    height: 55px;
    padding: 20px 20px;
}

.footer p {
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: #ecf0f1;
    text-transform: lowercase;
}

.footer a:hover {
    text-decoration: none;
    color: #fff;
}