@import url(//necolas.github.io/normalize.css/3.0.2/normalize.css);
@import url(reset.css);
@import url(grid.css);

.wrapper {
    min-width: 200px;
    max-width: 2000px;
}


.header {
    background: #f39c12;
}

.content {
    background: #bdc3c7;
}

.sidebar {
    background: #8e44ad;
    float: left;
}

.footer {
    background: #2ecc71;
    clear: both;
    float: left;
}

